.title_text_design{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    padding: 20px;
    text-align: center;
}

.left_menu_design{
    background-color: red;
    width: 150px;
    height: 300px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    float: left;
}

.menu_item_design{
    color: white;
    padding: 5px;
    text-align: left;
}


