#header{
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

#menu{
    background-color: red;
    padding: 0;
}

li{
    display: inline;
    padding: 3.15%;
}

a{
    color: white;
}

a:hover{
    color: white;
    background-color: gray;
}

#left{
    width: 160px;
    float: left;
}

#right{
    width: 160px;
    float: right;
}

#content{
    margin-left: 200px;
    margin-right: 200px;
}